:root {
    --round: 24px;
    --sharp: 8px;
    --first-row-height: 320px;
    --surface-inverse: rgba(255,255,255,0.15);

    /* COLORS */
    --success: #3DD795;
    --emphasis: red;
    --text-10: rgba(0,0,0,0.95);
    --text-20: rgba(0,0,0,0.55);

    /* FONT FAMILIES */
    --theme-font: 'Inter', sans-serif;
    --theme-display-font: var(--override-display-font, var(--theme-font));
    --theme-heading-font: var(--override-heading-font, var(--theme-font));
    --theme-paragraph-font: var(--override-paragraph-font, var(--theme-font));

    /* FONTS */
    --display-30: 700 64px/1 var(--theme-display-font);
    --display-20: 700 48px/1.15 var(--theme-display-font);
    --display-10: 700 32px/1.25 var(--theme-display-font);

    --heading-30: 700 24px/1.15 var(--theme-heading-font);
    --heading-20: 700 20px/1.1 var(--theme-heading-font);
    --heading-10: 700 14px/1.25 var(--theme-heading-font);

    --paragraph-30: 400 16px/1.15 var(--theme-paragraph-font);
    --paragraph-20: 400 14px/1.5 var(--theme-paragraph-font);
    --paragraph-10: 400 12px/1.5 var(--theme-paragraph-font);

    --paragraph-30-medium: 500 16px/1.15 var(--theme-paragraph-font);
    --paragraph-20-medium: 500 14px/1.5 var(--theme-paragraph-font);
    --paragraph-10-medium: 500 12px/1.5 var(--theme-paragraph-font);

    --paragraph-30-semibold: 600 16px/1.15 var(--theme-paragraph-font);
    --paragraph-20-semibold: 600 14px/1.5 var(--theme-paragraph-font);
    --paragraph-10-semibold: 600 12px/1.5 var(--theme-paragraph-font);

    /* LETTER-SPACING */
    --display-30-letter-spacing: var(--override-display-30-letter-spacing, -0.04em);
    --display-20-letter-spacing: var(--override-display-20-letter-spacing, -0.03em);
    --display-10-letter-spacing: var(--override-display-10-letter-spacing, -0.025em);

    --heading-30-letter-spacing: var(--override-heading-30-letter-spacing, -0.005em);
    --heading-20-letter-spacing: var(--override-heading-20-letter-spacing, 0);
    --heading-10-letter-spacing: var(--override-heading-10-letter-spacing, 0);

    --paragraph-30-letter-spacing: var(--override-paragraph-30-letter-spacing, 0);
    --paragraph-20-letter-spacing: var(--override-paragraph-20-letter-spacing, 0);
    --paragraph-10-letter-spacing: var(--override-paragraph-10-letter-spacing, 0.01em);
}